<div class="row animated fadeIn">
    <div class="col-lg-4">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">3257+</h1>
                        <h6 class="text-white">Pressupostos</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" (click)="openLg(content)">Crea Pressupost</button>

                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-twitter display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">6509+</h1>
                        <h6 class="text-white">Facebook Likes</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-facebook display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">9062+</h1>
                        <h6 class="text-white">Subscribe</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- <input #pressu (keyup)="buscarPressupost( pressu.value )" type="text" class="form-control" placeholder="Buscar pressupost..."> -->
                <label for="typeahead-template">Search for a state:</label>
                <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <select class="js-example-basic-single" name="state">
                        <option value="AL">Alabama</option>
                        <option value="WY">Wyoming</option>
                    </select>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Pressupostos: ( <small> {{ _pressupostosService.totalPressupostos }} </small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Num</th>
                            <th>Data</th>
                            <th>Vigència</th>
                            <th>Client</th>
                            <th>Preu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pressupost of pressupostos">
                            <td>
                                {{ pressupost.num }}
                            </td>
                            <td>
                                {{ pressupost.data | data}}
                            </td>
                            <td>
                                {{ pressupost.data_vigencia | data}}
                            </td>
                            <td>
                                {{ pressupost.client.nombre }}
                            </td>
                            <td>
                                {{ pressupost.preu_net }}
                            </td>
                            <td>
                                <span [class]="obteniretiquetaFormulari(pressupost.estat)">{{ pressupost.estat }}</span>
                            </td>
                            <td class="text-nowrap">
                                <a [routerLink]="['/pressupost', pressupost._id , '' ]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a (click)="borrarPressupost( pressupost._id )" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                <a (click)="anularPressupost( pressupost._id )" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-cc-amex text-danger"></i> </a>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crea Pressupost</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Client</label>
                <input #input (keyup)="buscarClient( input.value )" type="text" class="form-control" placeholder="Buscar client..."></div>
            <!-- <input type="text" class="form-control" placeholder="Introdueix el client"> </div> -->
            <!-- <div class="form-group">
                <label>Assign to</label>
                <select class="custom-select form-control pull-right">
                                    <option selected="">Sachin</option>
                                    <option value="1">Sehwag</option>
                                    <option value="2">Pritam</option>
                                    <option value="3">Alia</option>
                                    <option value="4">Varun</option>
                                </select>
            </div> -->
        </form>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="card-title">Clients: ( <small> {{ _personesService.totalPersones }} </small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>dni</th>
                            <th>Nom i cognoms</th>
                            <th>Poblacio</th>
                            <th>E-mail</th>
                            <th>Telèfon</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clients">
                            <td>
                                {{ client.dni }}
                            </td>
                            <td>
                                {{ client.nombre }}
                            </td>
                            <td>
                                {{ client.poblacio }}
                            </td>
                            <td>
                                {{ client.email }}
                            </td>
                            <td>
                                {{ client.telefon }}
                            </td>
                            <td>
                                <button [routerLink]="['/pressupost', 'nuevo', client._id ]" (click)="modal.close('Save click')" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<hr>

<pre>{{closeResult}}</pre>