<div class="row" *ngIf="!carregant">
    <!-- <form class="form-horizontal m-t-40" #f2="ngForm" ngNativeValidate (ngSubmit)="guardaPressupost(pressupost)"> -->
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>PRESSUPOST</b> <span class="pull-right">{{pressupost.num}}</span></h3>
            <hr>


            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">TAICAR </b></h3>
                            <p class="text-muted m-l-5">E 104, Dharti-2,
                                <br> Nr' Viswakarma Temple,
                                <br> Talaja Road,
                                <br> Bhavnagar - 364002</p>
                        </address>
                    </div> -->
                    <label class="control-label">Num pressupost</label>
                    <input [(ngModel)]="pressupost.num" name="num" type="text" class="form-control" required>
                    <div class="pull-letf">

                        <h4 class="font-bold">{{ pressupost.client.nombre }}</h4>



                        <label class="control-label">Data de pressupost</label>
                        <input [(ngModel)]="pressupost.data" name="data" type="date" class="form-control" required>
                        <label class="control-label">Data de vigència</label>
                        <input [(ngModel)]="pressupost.data_vigencia" name="data_vigencia" type="date" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <button *ngIf="pressupost.estat == 'vigent'" class="btn btn-rounded btn-success m-t-10 font-14" (click)="open(content)">Afegeix Reserva</button>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Vehicle</th>
                                    <th class="text-right">Data Inicial</th>
                                    <th class="text-right">Data Final</th>
                                    <th class="text-right">Temporada</th>
                                    <th class="text-right">Dies</th>
                                    <th class="text-right">Preu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of pressupost.detall; let i = index">
                                    <td class="text-center">{{ i }}</td>
                                    <td>{{item.vehicle.nom}} / {{item.vehicle.matricula}}</td>
                                    <td class="text-right">{{item.data_inicial}} </td>
                                    <td class="text-right">{{item.data_final}} </td>
                                    <td class="text-right">{{item.temporada}} </td>
                                    <td class="text-right">{{item.dies}} </td>
                                    <td class="text-right">{{item.preu}} </td>
                                    <td> <button *ngIf="pressupost.estat == 'vigent'" (click)="borrarDetall( i )" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                      </button></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total brut: {{ pressupost.preu_brut }}</p>
                        <p>IVA (16%) : $XXX </p>
                        <hr>
                        <h3><b>Total :</b> {{ pressupost.preu_net }}</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button *ngIf="pressupost.estat == 'vigent'" class="btn btn-success" type="button" (click)="guardaPressupost(pressupost)"> Guarda </button>
                        <button class="btn btn-warning" type="button" (click)="cancelaOrdre()"> Tanca </button>
                        <button *ngIf="pressupost.estat == 'vigent'" class="btn btn-danger" type="button"> Anula el pressupost </button>

                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal m-t-40" #f="ngForm" ngNativeValidate (ngSubmit)="guardaDetall( article )">
            <div class="form-group">
                <label>Vehicle</label>
                <select (change)="canviPreu( article )" [(ngModel)]="article.vehicle" name="vehicle" class="form-control" required>
                <option value="">Seleccione Vehicle</option>
                <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                  {{ vehicle.nom }} - {{ vehicle.marca }} {{ vehicle.model }} }}
                </option>
              </select>

            </div>
            <div class="form-group">
                <label>Data Inici </label>
                <input type="date" (change)="calcularDies( article.data_inicial, article.data_final )" [(ngModel)]="article.data_inicial" name="data_inicial" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Data Fi</label>
                <input type="date" (change)="calcularDies( article.data_inicial, article.data_final )" [(ngModel)]="article.data_final" name="data_final" class="form-control">
            </div>
            <div class="form-group">
                <label>Temporada</label>
                <select (change)="canviPreu( article )" [(ngModel)]="article.temporada" name="temporada" class="form-control" required>
                <option value="">Seleccione Temporada</option>
                <option value="B">Temporada Baixa</option>
                <option value="M">Temporada Mitjana</option>
                <option value="A">Temporada Alta</option>
                <option value="X">Temporada Extra</option>
                
              </select>

            </div>
            <div class="form-group">
                <label>Dies </label>
                <input type="text" (change)="canviPreu( article )" [(ngModel)]="article.dies" name="dies" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Preu </label>
                <input type="text" [(ngModel)]="article.preu" name="preu" class="form-control" placeholder="Preu">
            </div>
            <div class="form-group">
                <label>Observacions</label>
                <textarea class="form-control" [(ngModel)]="article.observacions" name="observacions" rows="5"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="guardaDetall( article )">Save</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<hr>
<!-- 
<pre>{{closeResult}}</pre> -->